/* ====== PRODUCT IMAGE ====== */

.product-image-container {
  height: 180px;        
  background: white;    
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;    
}

.product-image-container img {
  width: 70%;
  height: 100%;
  object-fit: contain;   
  transition: transform 0.3s ease;
}

/* Zoom suave al pasar el mouse */
.product-card:hover .product-image-container img {
  transform: scale(1.05);
}

/* ====== CARD MEJORADA ====== */

.product-card {
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.25s ease;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.12);
}

/* ====== DESCRIPTION ====== */

.product-description {
  min-height: 48px;
  font-size: 0.9rem;
  color: #6b7280;
}

/* ====== PRECIO ====== */

.price {
  font-size: 1.25rem;
  font-weight: 700;
  color: #16a34a;
}

/* ===== NAVBAR  ===== */

.navbar {
  background: linear-gradient(90deg, #111827, #1f2937);
  padding: 14px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  color: #ffffff !important;
}

.navbar .btn {
  border-radius: 20px;
  padding: 6px 14px;
  font-size: 0.9rem;
  transition: all 0.25s ease;
}

.navbar .btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
}

.navbar .btn-outline-light:hover {
  background-color: #ffffff;
  color: #111827;
}

.navbar .btn-light {
  background-color: #22c55e;
  border: none;
  color: white;
}

.navbar .btn-light:hover {
  background-color: #16a34a;
}